@import "./vars.scss";

html,
body {
    @include z0;
    font-family: $text-font;
    color: #131313;
    overflow: hidden;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 40px;
    font-family: $header-font;
}

h2 {
    font-size: 35px;
    font-family: $header-font;
}

h3 {
    font-size: 30px;
    font-family: $header-font;
}

h4 {
    font-size: 25px;
    font-family: $header-font;
}

h5 {
    font-size: 20px;
    font-family: $header-font;
}

h6 {
    font-size: 18px;
    font-family: $header-font;
}
