@import "./vars.scss";

.heroImg {
    height: max-content;
    width: 100vw;
}

.heroTxt {
    @include z0;
    font-size: 35px;
    color: #fff;
    position: absolute;
    top: 35%;
    left: 25%;
}

.heroTyping {
    @include z0;
    overflow: hidden;
    border-right: 1px solid #fff;
    white-space: nowrap;
    color: #fff;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
    position: absolute;
    font-size: 20px;
    top: 41%;
    left: 25%;
    width: max-content;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 347.067px;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #fff;
    }
}

.ctnr {
    margin: 0 30px 0 30px;
}

.aboutArticle {
    margin: auto;
    width: 80%;
    background-color: #cbd1dd;
    padding: 10px;
}

.sectAbout {
    padding: 30px;
}
