@import "./vars.scss";

.navLink {
    padding: 0 2.5px 0 2.5px;
}

.navLink a {
    color: inherit;
    font-family: $header-font;
    font-weight: 500;
    padding: 20px 5px 16px 5px;
}

.navLink a:hover {
    text-decoration: none;
    background-color: adjust-hue($color: $nav-bg, $degrees: -20);
}
