@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins&display=swap");

$link-color: #1a54c2;
$nav-bg: #5636e4;
$header-font: "Poppins", sans-serif;
$text-font: "Inter", sans-serif;

@mixin z0 {
    margin: 0;
    padding: 0;
}
